<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Tindakan</title>
    <title th:replace = "~{fragments/content :: title}">Title</title>

    <th:block th:insert="~{fragments/head :: link}"></th:block>

    <th:block th:insert="~{fragments/head :: head/script}"></th:block>
</head>


<!--<body>-->
<!--<div th:insert="~{fragments/navbar :: navbar}"></div>-->

<title>Tab Pembayaran</title>
<style>
    .nav-tabs .nav-link.active {
        background-color: deepskyblue;
        color: white;
        border: 3px solid deepskyblue;
    }

    .nav-tabs .nav-link {
        background-color: white;
        color: deepskyblue;
    }

    .tab-content {
        border: 1px solid deepskyblue;
        padding: 50px;
        height: 800px;
        width: 850px;
    }
    /* table,
    th,
    td {
      border: 2px solid black;
    } */
</style>
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color: deepskyblue; height: 50px">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="margin-top: 15px; background-color: deepskyblue">
                <li class="breadcrumb-item"><a href="/pasien/">Beranda</a></li>
                <li class="breadcrumb-item active" >Profile</li>
            </ol>
        </nav>
    </div>
</nav>
<!-- AKHIR NAVBAR -->

<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-3" style="margin-top: 100px">
            <!--left col-->
            <div class="text-center" style="float: left">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="rounded-circle" alt="avatar" />
                <div class="bintangicon" style="margin-top: 20px; margin-bottom: 10px">
                    <i class="fas fa-star" style="font-size: 25px; color: chocolate"></i>
                </div>
                <h6>Bronze Member</h6>
                <h6>Since 2020</h6>
            </div>
            <br />

            <div class="editicon" style="float: left; width: 10px">
                <i class="fas fa-edit" type="button" style="font-size: 15px"></i>
                </a>
            </div>

            <div class="clearleft" style="clear: left"></div>
            <br /><br />

            <div class="borderless">
                <table>
                    <tbody>
                    <tr>
                        <a href="www.google.com"
                        ><h6 type="button" style="color: deepskyblue; padding: 20px"><b> Pasien</b></h6></a
                        >
                    </tr>
                    <tr>
                        <a href="www.google.com"
                        ><h6 type="button" style="color: deepskyblue; padding: 20px"><b>Pembelian Obat</b></h6></a
                        >
                    </tr>
                    <tr>
                        <a href="www.google.com"
                        ><h6 type="button" style="color: deepskyblue; padding: 20px"><b>Rencana Kedatangan</b></h6></a
                        >
                    </tr>
                    <tr>
                        <a href="www.google.com"
                        ><h6 type="button" style="color: deepskyblue; padding: 20px"><b>Riwayat Chat Dokter</b></h6></a
                        >
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--/col-3-->

        <div class="col-sm-9" style="margin-top: 100px">
            <div class="container mt-2">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link " data-bs-toggle="tab" href="#profile">Profile</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#alamat">Alamat</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" onclick="" href="#pembayaran">Pembayaran</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" id="profile">
                        <div class="row border g-0 rounded shadow-sm">
                            <div class="col p-4">
                                <h3>Home</h3>
                            </div>
                            <div class="col-auto"></div>
                        </div>
                    </div>
                    <!-- tab-pane profile -->

                    <div class="tab-pane" id="alamat">
                        <div class="row border g-0 rounded shadow-sm">
                            <div class="col p-4">
                                <h3>Alamat</h3>
                            </div>
                            <div class="col-auto"></div>
                        </div>
                    </div>
                    <!-- tab-pane alamat -->

                    <div class="tab-pane active" id="pembayaran">
                        <div class="row border g-0 rounded shadow-sm" style="height: 300px">
                            <div class="col p-4" id="ini"></div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#myModal" onclick="AddCard()" style="margin-top: 20px">+Tambah</button>
                            </div>
                        </div>
                        <!-- row pertama -->

                        <div class="row border g-0 rounded shadow-sm" style="height: 300px; margin-top: 20px">
                            <div class="col p-4" id="ini1"></div>
                            <div class="col-auto">
                                <button type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#myModal" onclick="Tambah()" style="margin-top: 20px; margin-left: 10px">Isi Saldo</button>
                                <button type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#myModal" onclick="Tambah()" style="margin-top: 20px; margin-left: 10px">Atur Pin</button>
                                <button type="button" class="btn btn-primary float-right" data-bs-toggle="modal" data-bs-target="#myModal" onclick="Tambah()" style="margin-top: 20px; margin-left: 10px">Tutup</button>
                            </div>
                        </div>
                        <!-- row kedua -->
                    </div>
                    <!-- tab-pane pembayaran -->
                </div>
                <!-- Tab content -->
            </div>
        </div>
    </div>
    <!-- row -->
</div>
<!-- container bootstrap snippet -->
<div class="container-fluid">
    <div class="container col-md-12 mt-5">
        <div class="row">
            <div class="col-sm-8">
                <!--Tombol Tambah-->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"
                        style="float: right;" tabindex="-1" aria-hidden="true" onclick="AddCard()">Tambah</button>
                <!--                <button class="btn btn-primary"oncLick="OpenList()">Open List</button>-->

                <!--Modal Tambah-->
                <div class="container mt-5">
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal Content-->
                            <div class="modal-content">
                                <div class="modal-header" >
                                    <div class="col-sm-4">
                                        <h4 class="modal-title text-primary" style="text-align: left;">Tambah Kartu</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <button type="button" class="close" data-dismiss="modal">X</button>
                                    </div>
                                </div>

                                <div class="modal-body">

                                </div>
                                <div class="modal-footer ">
                                    <div class="col text-center">
                                        <button type="button" class="btn btn-outline-primary btn-lg"
                                                data-dismiss="modal">Batal</button>
                                        <button type="submit" class="btn btn-primary btn-lg" id="SaveTreatment">Simpan</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container mt-5">
                    <!-- Modal Ubah -->
                    <div class="modal fade" id="myModal2" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal Content -->
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #e3f2fd;">
                                    <div class="col-sm-4">
                                        <h4 class="modal-title" style="text-align: left;">UBAH</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>

                                <div class="modal-body">

                                </div>
                                <div class="modal-footer">
                                    <!-- <button type="button" class="btn btn-default btn-warning"
                                        data-dismiss="modal">Batal</button>
                                    <button type="submit" class="btn btn-primary"
                                        id="UpdateEducation">Simpan</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container mt-5">
                    <!-- Modal Hapus -->
                    <div class="modal fade" id="myModal3" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content -->
                            <div class="modal-content">
                                <div class="modal-header" style="background-color: #e3f2fd;">
                                    <div class="col-sm-4">
                                        <h4 class="modal-title" style="text-align: left;">HAPUS!</h4>
                                    </div>
                                    <div class="col-sm-8">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                </div>

                                <div class="modal-body">

                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container col-md-12 mt-5" id="cardList"></div>
    <!--/*@thymesVar id="pasienID" type=""*/-->
    <input type="text" id="biodataIDPasien" th:value="${biodataIDPasien}">

    <input type="text" id="customerIDPasien" th:value="${customerIDPasien}">



</div>

<script>

//    function OpenList() {
//        console.log("OpenList")
//             $.ajax({
//                 url: '/api/customercard',
//                 type: 'GET',
//                 contentType: 'application/json',
//                 success: function (data) {
//                     console.log("cardnumber", data)
//
//
//                     // <!--            console.log(doctortreatment);-->
//                     var table = '<table class="table table-bordered">';
//                     table += '<tr style="background-color: #e3f2fd;">';
//                     table += '<th style="width:130px" class="text-center">NAMA</th>' +
//                         '<th style="width:80px" class="text-center">#</th>' +
//                         '</tr>';
//
//                     for ( let i = 0; i < data.length; i++) {
//                         table += '<tr>';
//                         table += '<td style="width:130px" class="text-center" data-role="tagsinput">' + data[i].card_number + '</td>' +
//                             '<button class="btn btn-danger" value="' + data[i].id + '" onclick="Delete(this.value)">H</td>' +
//                             '</tr>';
//                     }
//
//
//                     table += '</table>';
//                     $('input').val();
//                     $('#cardList').html(table);
//                 }
//             });


    // }

$.ajax({
    url: "/api/customercard",
    type: "get",
    contentType: "application/json",
    success: function (data) {
        var str = '<table align="center" style="width:80%; margin-left:20px;" >';
        str += "<tr>";
        var count = 0;
        for (i = 0; i < data.length; i++) {
            count += 1;
        }
        console.log(count);
        str += '<th style="color:deepskyblue" colspan="3">Kartu Kredit / Debit (' + count + " /4 Tersimpan)</th>";
        for (i = 0; i < data.length; i++) {
            var hiddenNumber = data[i].cardNumber;
            var expired = data[i].validity_period;
            let hiddenNumber2 = hiddenNumber.slice(0, -4);
            let showNumbers = hiddenNumber.slice(-4);
            let regMe = /[0-9]/g;
            let allStars = hiddenNumber2.replace(regMe, "x");

            str += "<tr>";
            str += '<td style="height:20px; text-align:center;">' + allStars + showNumbers + "</td>";
            str += '<td rowspan="2"><img src="/img/other.png" id="img' + i + '" style="padding:5px;">  </td>';
            str += '<td rowspan="2" style="text-align:center;">' + '<button class="btn btn-danger" value="' + data[i].id + '" onclick="Delete(this.value)">Hapus</button>' +
                '</td>';
            // <input type="button" value="Click me" onclick="msg()">
            str += "</tr>";
            str += "<tr>";
            str += "<td style='text-align:center;'> + expired </td>";
            str += "</tr>";
        }
        str += "</table>";
        $("#ini").html(str);
        for (i = 0; i < data.length; i++) {
            var img = document.getElementById("img" + i);
            var imageCode = data[i].cardNumber;
            if (validateCreditCardNumber(imageCode)) {
                img.src = "/img/" + (cardType(imageCode) || "other") + ".png";
            }
        }
    }
});

// $.ajax({
//     url: "/api/customercard",
//     type: "get",
//     contentType: "application/json",
//     success: function (data) {
//         var str = '<table align="center" style="width:80%; margin-left:20px;" >';
//         str += "<tr>";
//         str += '<th style="color:deepskyblue">Dompet Sehat</th>';
//         str += "</tr>";
//         for (i = 0; i < data.length; i++) {}
//         str += "</table>";
//         $("#ini1").html(str);
//     },
// });



function AddCard() {
    var json = '<form id="registerForm">';
    json += '<div class="formContainer">';
    json += '<div class="form-group ">';
    json += '<label for="card_number">Nomor Kartu Kredit / Debit*</label><br>';
    json += '<input type="text" class="form-control border border-info" placeholder="contoh: 1234 5678 9012 3456" id="card_number" width="120" aria-required="true">';
    json += '</div>';

    // json += '<div>';
    // json += '<img src="/static/img/other.png " id="visa" class="md-3" width="30">';
    // json += '<img src="/img/mastercard.png" id="mastercard" class="md-3" width="40">';
    // json += '<img src="/static/img/amex.png" id="amex" class="md-3" width="30">';
    // json += '<img src="/img/jcb.png" id="jcb" class="md-3" width="40">';
    // json += '</div>';

    json += '<div class="form-row mt-3">';
    json += '<div class="col mb-3">';
    json += '<label for="validity_period">Masa Berlaku</label><br>';
    json += '<input type="text" class="form-control  border border-info" placeholder="mm / yy" id="validity_period">';
    json += '</div>';
    json += '<div class="col mb-3">';
    json += '<label for="cvv">CVV*</label><br>';
    json += '<input type="text" class="form-control border border-info" placeholder="contoh: 123" id="cvv" width="120" aria-required="true">';
    json += '</div>';

    json += '</div>';
    // json += '<div>';
    // <!--            json += '<br><button id="Close" type="button" class="btn btn-warning" onclick="this.close()">Batal</button>';-->
    // <!--            json += '<button id="Save" type="submit" class="btn btn-primary" onclick="SaveEducation(this.value)">Simpan</button>';-->
    // json += '</div>';
    json += '</div>';
    json += '</form>';

    $.ajax({
        url: '/api/customercard',
        type: 'GET',
        contentType: 'application/json',
        success: function (duplicate) {
            console.log("duplicate", duplicate)

            $('#SaveTreatment').click(function () {
                let cardAdd = $('#card_number').val();

                var current = new Date();
                var yyyy = current.getFullYear();
                var MM = String(current.getMonth() + 1).padStart(2, '0');
                var dd = String(current.getDay()).padStart(2, '0');
                var HH = current.getHours();
                var mm = current.getMinutes();
                var ss = current.getMinutes();

                current = yyyy + '-' + MM + '-' + dd + ' ' + HH + ':' + mm + ':' + ss;


                var todayTime =  new Date();
                var month = todayTime.getMonth() + 1;
                var years = todayTime.getFullYear();
                // var day = format(todayTime.getDate());
                var coba = yyyy + '-' + MM +'-01'  ;

                console.log("month", month)
                console.log("years", years)
                console.log("coba", coba)


                console.log("date createdOn: ", current );
                // console.log("valifity:," current1);

                if (cardAdd != "") {

                    var helper = 0;

                     for (i = 0; i < duplicate.length; i++) {
                            console.log("duplicate.name.toLowerCase(): ", duplicate[i].card_number);
                            console.log("$('#card_number').val().toLowerCase(): ", $('#card_number').val());

                        var check = duplicate[i].card_number;

                        if (check == $('#card_number').val()) {
                            helper++;
                            console.log("helper: ", helper);
                        }
                    }

                    if (helper <= 0) {
                        var jsonForm = '{';
                        // var date =
                        jsonForm += '"customerId":' + $('#customerIDPasien').val() + ',';
                        jsonForm += '"cardNumber":"' + $('#card_number').val() + '",';
                        jsonForm += '"validityPeriod":"' + coba + '",';
                        jsonForm += '"cvv":"' + $('#cvv').val() + '",';
                        jsonForm += '"createdOn":"' + current + '",';
                        jsonForm += '"createdBy":' + $('#customerIDPasien').val() + ',';
                        jsonForm += '"isDelete":false';
                        jsonForm += '}';

                        console.log("save ", jsonForm)

                        $.ajax({
                            url: '/api/customercard',
                            type: 'POST',
                            contentType: 'application/json',
                            data: jsonForm,
                            success: function (data) {
                                console.log(data)

                                window.location = '/customercard/';
                            }
                        });
                    } else {
                        window.alert("Nomor kartu telah ada");
                    }
                } else {
                    window.alert("Kartu harus diisi");
                }
            })
        }
    });

    $('.modal-title').html();
    $('.modal-body').html(json);
    $('#myModal').modal('show');

}

// function GetFormat() {
//     var todayTime =  new Date();
//     var month = format(todayTime.getMonth() + 1);
//     var years = format(todayTime.getFullYear());
//     // var day = format(todayTime.getDate());
//     var coba = yyyy + '-' + MM +'-01'  ;
//     return  '01- + month + '-' + years;
// }
// // function SaveTreatment() {
//
//     var current = new Date();
//     var yyyy = current.getFullYear();
//     var MM = String(current.getMonth() + 1).padStart(2, '0');
//     var dd = String(current.getDay()).padStart(2, '0');
//     var HH = current.getHours();
//     var mm = current.getMinutes();
//     var ss = current.getMinutes();
//
//     current = yyyy + '-' + MM + '-' + dd + ' ' + HH + ':' + mm + ':' + ss;
//     var jsonForm = '{';
//     jsonForm += '"customerId":' + $('#customerID').val() + ',';
//     jsonForm += '"card_number":"' + $('#card_number').val() + '",';
//     jsonForm += '"validity_period":"' + $('#validity_period').val() + '",';
//     jsonForm += '"cvv":"' + $('#cvv').val() + '",';
//     jsonForm += '"createdOn":"' + current + '",';
//     jsonForm += '"createdBy":' + $('#customerID').val() + ',';
//     jsonForm += '"isDelete":false';
//     jsonForm += '}';
//
//     $.ajax({
//         url: '/api/customerregistered',
//         type: 'POST',
//         contentType: 'application/json',
//         data: jsonForm,
//         success: function (data) {
//             window.location.href = '/customerregistered';
//         }
//     });
// }
//
//
// function Delete(id) {
//     $.ajax({
//         url: '/api/customer/customerregistered' + id,
//         type: 'GET',
//         contentType: 'application/json',
//         success: function (data) {
//             var prompt = '<p style="text-align: center;">Anda akan menghapus jenjang pendidikan ' + data.name + '? </p><br>';
//             prompt += '<div class="buttons">';
//             prompt += '<div class="action_btn">';
//             prompt += '<button style="float: right; width: 70px;" type="submit" class="btn btn-primary" value="' + data.id + '" onclick="IsDeleted(this.value)">Ya</button>';
//             prompt += '<button style="float: right; width: 70px;" type="button" class="btn btn-default btn-warning" data-dismiss="modal">Tidak</button>';
//             prompt += '</div>';
//             prompt += '</div>';
//
//             $('.modal-title').html("HAPUS!");
//             $('.modal-body').html(prompt);
//             $('#myModal3').modal('show');
//         }
//     });
// }
//
// function IsDeleted(id) {
//     var jsonForm = '{';
//     jsonForm += '"doctorId":"1",';
//     jsonForm += '"name":"' + $('#name').val() + '",';
//     jsonForm += '"createdOn":"2021-03-25 13:33:40",';
//     jsonForm += '"createdBy":"1",';
//     jsonForm += '"modifiedOn":"2021-03-25 13:33:40",';
//     jsonForm += '"modifiedBy":"1",';
//     jsonForm += '"deletedOn":"2021-03-25 13:33:40",';
//     jsonForm += '"deletedBy":"1",';
//     jsonForm += '"isDelete":"true"';
//     jsonForm += '}';
//
//     $.ajax({
//         url: '/api/customer/customerregistered' + id,
//         type: 'PUT',
//         contentType: 'application/json',
    //         data: jsonForm,
    //         success: function (data) {
    //             window.location.href = '/customersregistered/index';
    //         }
    //     });
    // }
    //
    // $('#cardNumber').on('keyup', function(e){
    //     var val = $(this).val();
    //     var newval = '';
    //     val = val.replace(/\s/g, '');
    //     for(var i = 0; i < val.length; i++) {
    //         if(i%4 == 0 && i > 0) newval = newval.concat(' ');
    //         newval = newval.concat(val[i]);
    //     }
    //     $(this).val(newval);
    // });

function validateCreditCardNumber(hiddenNumber) {
    console.log("vad");
    hiddenNumber = hiddenNumber.split(" ").join("");
    if (parseInt(hiddenNumber) <= 0 || !/\d{15,16}(~W[a-zA-Z])*$/.test(hiddenNumber) || hiddenNumber.length > 16) {
        return false;
    }
    var carray = new Array();
    for (var i = 0; i < hiddenNumber.length; i++) {
        carray[carray.length] = hiddenNumber.charCodeAt(i) - 48;
    }
    carray.reverse(); // luhn approaches number from the end
    var sum = 0;
    for (var i = 0; i < carray.length; i++) {
        var tmp = carray[i];
        if (i % 2 != 0) {
            tmp *= 2;
            if (tmp > 9) {
                tmp -= 9;
            }
        }
        sum += tmp;
    }
    return sum % 10 == 0;
}
function cardType(hiddenNumber) {
    hiddenNumber = hiddenNumber.split(" ").join("");
    var o = {
        electron: /^(4026|417500|4405|4508|4844|4913|4917)d+$/,
        maestro: /^(5018|5020|5038|5612|5893|6304|6759|6761|6762|6763|0604|6390)\d+$/,
        dankort: /^(5019)\d+$/,
        interpayment: /^(636)\d+$/,
        unionpay: /^(62|88)\d+$/,
        visa: /^4[0-9]{12}(?:[0-9]{3})?$/,
        mastercard: /^5[1-5][0-9]{14}$/,
        amex: /^3[47][0-9]{13}$/,
        diners: /^3(?:0[0-5]|[68][0-9])[0-9]{11}$/,
        discover: /^6(?:011|5[0-9]{2})[0-9]{12}$/,
        jcb: /^(?:2131|1800|35\d{3})\d{11}$/,
    };
    for (var k in o) {
        if (o[k].test(hiddenNumber)) {
            return k;
        }
    }
    return null;
}

function Delete(id) {
    $.ajax({
        url: '/api/deletecustomercard/' + id,
        type: 'GET',
        contentType: 'application/json',
        success: function (data) {
            var prompt = '<p style="text-align: center;">Anda akan menghapus kartu kredit  ' + data.cardNumber + '? </p><br>';
            console.log(data)
            prompt += '<div class="buttons">';
            prompt += '<div class="action_btn">';
            // prompt += '<button style="float: right; width: 70px;" type="submit" class="btn btn-primary" value="' + data.id + '" onclick="IsDeleted(this.value)">Ya</button>' ;
            // prompt += '<button style="float: right; width: 70px;" type="button" class="btn btn-default btn-warning" data-dismiss="modal">Tidak</button>';
            prompt += '</div>';
            prompt += '</div>';
            var promptbtn = '<button style="float: right; " class="btn btn-primary busek" >Ya</button>' ;
            promptbtn += '<button style="float: right; " type="button" class="btn btn-default btn-warning" data-dismiss="modal">Tidak</button>';

            $('.modal-title').html("HAPUS!");
            $('.modal-body').html(prompt);
            $('.modal-footer').html(promptbtn);
            $('#myModal3').modal('show');

            $('.busek').on('click', function () {
                IsDeleted(data)
            })

        }
    });
}

function IsDeleted(data) {

    console.log("busek", data)
    var current = new Date();
    var yyyy = current.getFullYear();
    var MM = String(current.getMonth() + 1).padStart(2, '0');
    var dd = String(current.getDay()).padStart(2, '0');
    var HH = current.getHours();
    var mm = current.getMinutes();
    var ss = current.getMinutes();

    current = yyyy + '-' + MM + '-' + dd + ' ' + HH + ':' + mm + ':' + ss;

    var validity =  new Date('month' + 'years');
    var month =String(validity.getMonth() + 1).padStart(2, '0');
    var years = validity.getFullYear();

    var coba = yyyy + '-' + MM +'-01'  ;
    console.log("month", month)
    console.log("years", years)
    console.log("coba", coba)


    var jsonForm = "{";
    jsonForm += '"customerId":' + $('#customerIDPasien').val() + ',';
    jsonForm += '"cardNumber":"' + $('#card_number').val() + '",';
    jsonForm += '"validityPeriod":"' + $('#validity_period').val() + '",';
    jsonForm += '"cvv":"' + $('#cvv').val() + '",';
    jsonForm += '"createdOn":"' + current + '",';
    jsonForm += '"createdBy":' + $('#customerIDPasien').val() + ',';
    jsonForm += '"isDelete":false';
    jsonForm += '}';

    $.ajax({
        url: '/api/deletecustomercard/' + data.id,
        type: 'PUT',
        contentType: 'application/json',
        data: jsonForm,
        success: function (datas) {
            console.log("data", datas)
            console.log(datas)
            window.location.href = '/customercard/';
        }
    });
}

function Logout()
{
    $.ajax({
        url: '/logout',
        contentType: 'application/json',
        success: function (logout)
        {
            window.location.replace("/")
        }
    })
}
</script>
</body>
</html>